<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>

</head>
<body>

<div class="container">
    <div id="app">
        <form action="">
            <h2>Create category</h2>
            <div class="form-group">
                <label for="name">Nombre</label>
                <input v-model="name"
                       @blur="getCategory"
                       @focus="div_visibility = true"
                       class="form-control" type="text" name="name" id="name" >
                <label for="slug">Slug</label>
                <input readonly v-model="generateSlug"  class="form-control" type="text" name="slug" id="slug" >
                <div v-if="div_visibility" v-bind:class="div_slug_class">
                   {{div_slug_message}}
                </div>
                <br v-if="div_visibility">
                <label for="description">Slug</label>
                <textarea class="form-control" type="text" name="slug" id="description" cols="30" rows="5"></textarea>
            </div>
            <input
                :disabled="button_disable==1"
                type="submit" class="btn btn-outline-success float-right" value="Save">
        </form>
        <br><br>
        {{name}}
        <br>
        {{generateSlug}}
    </div>
</div>

<script>
    var app = new Vue({
       el: '#app',
       data: {
           name: '',
           slug: '',
           div_slug_message: '',
           div_slug_class: '',
           div_visibility: false,
           button_disable: 0

       },
        computed: {
           generateSlug: function () {
               var char = {
                   "á":"a","é":"e","í":"i","ó":"0","ú":"u",
                   "Á":"A","É":"E","Í":"I","Ó":"O","Ú":"U",
                   "Ñ":"N","ñ":"n"," ":"-","_":"-"
               }
               var expres = /[áéíóúÁÉÍÓÚñÑ_ ]/g;
               this.slug =this.name.trim().replace(expres, function (e) {
                    return char[e];
                }).toLowerCase();

               return this.slug;
           }
        },
        methods:{
           getCategory(){
               let url="api/category/"+this.slug;
                axios.get(url).then(response => {
                   this.div_slug_message = response.data;
                   if (this.div_slug_message != "")
                   {
                       this.div_slug_class = 'badge badge-danger';
                       this.div_slug_message = 'Slug already exists';
                       this.button_disable = 1;
                   }
                   else
                   {
                       this.div_slug_class = 'badge badge-success';
                       this.div_slug_message = 'Slug available';
                       this.button_disable = 0;
                   }
                   this.div_visibility = true;
               })
           }
        }
    });
</script>

</body>
</html>
